.btn {
  min-width: 80px;
  height: 32px;
  padding-inline: 12px;
  text-align: center;
  border: none;
  border-radius: 20px;
  background-color: transparent;
  color: var(--primary);
  cursor: pointer;
}

.btn:hover {
  background-color: color-mix(in srgb, var(--primary) 8%, #fff 92%);
}