body {
  min-height: 100vh;
  background-color: #f0f2f5;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.postListMain {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.postListCenter {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 630px;
  margin-top: 30px;
  overflow: scroll;
}

.post {
  width: 90%;
  height: 130px;
  margin-bottom: 30px;
  margin-inline: auto;
  border-radius: 10px;
  background-color: #fff;
  list-style: none;
}

.postData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-bottom: 2px solid #000000;
}

.createdUserName {
  margin-left: 35px;
  font-size: 12px;
}

.updatedAt {
  margin-right: 15px;
  font-size: 12px;
}

.postTitle {
  margin: 35px;
}

.newPostBtn {
  width: 100px;
  height: 30px;
  margin-top: 30px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #FFFFFF;
}