.postListCenter {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px 0 30px 0;
}

.post {
  width: 70%;
  margin-bottom: 8px;
  margin-inline: auto;
  padding: 16px;
  border-radius: 12px;
  background-color: #fff;
  list-style: none;
  box-shadow:
  0px 1px 3px rgba(0, 0, 0, 0.2),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.postHeader {
  display: flex;
  gap: 16px;
}

.postData {
  display: flex;
  flex-direction: column;
}

.updatedAt {
  font-size: 12px;
}

.title {
  margin-top: 16px;
  margin-left: 40px;
}

.favorite {
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-top: 16px;
}