body {
  background-color: #c5c5c5;
}

.postListMain {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.postListCenter {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 630px;
  margin-top: 30px;
  background-color: #c5c5c5;
  overflow: scroll;
}

.post {
  width: 90%;
  height: 130px;
  margin-bottom: 30px;
  margin-inline: auto;
  border-radius: 10px;
  background-color: #fff;
  list-style: none;
}

.postData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-bottom: 2px solid #000000;
}

.createdUserName {
  margin-left: 35px;
  font-size: 12px;
}

.updatedAt {
  margin-right: 15px;
  font-size: 12px;
}

.postTitle {
  margin: 35px;
}