* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #E1F5FE;
}

.login {
  background-color: #E1F5FE;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 483px;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  /* background-color: #78909C; */
  display: flex;
}

.loginLeft, .loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  /* font-weight: 800; */
  color: #0288D1;
  margin-left: -5px;
}

.loginDesc {
  font-size: 24px;
}

.loginBox {
  padding: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* gap: 15px; */
  box-shadow: 8px 9px 0px -5px #777777;
  border-radius: 10px;
}

.loginMsg {
  font-size: 17px;
  align-self: center;
}

.loginInput {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #B0BEC5;
  padding-left: 10px;
  margin-top: 20px;
}

.loginInput:focus {
  outline: none;
}

.loginButton {
  height: 30px;
  margin-top: 30px;
  border-radius: 10px;
  border: none;
  background-color: #eaf2fd;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.loginButton:hover {
  background-color: #cfe2f3;
}

.loginForgot {
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 10px;
}

.loginForgot:hover {
  text-decoration: underline;
}

.loginRegisterButton {
  width: 60%;
  align-self: center;
  height: 30px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  background-color: #eaf2fdc0;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.loginRegisterButton:hover {
  background-color: #cfe2f3c0;
}

@media (max-width: 1000px) {
  .loginWrapper {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2rem 0;
  }

  .loginLeft, .loginRight {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .loginBox {
    width: 80%;
    max-width: 400px;
    margin-top: 20px;
  }

  .loginLogo {
    margin-left: 0;
  }
}
