[theme-color="Diamond"] {
  --primary: rgb(9 103 127);
  --surface-tint: rgb(9 103 127);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(184 234 255);
  --on-primary-container: rgb(0 77 97);
  --secondary: rgb(76 98 107);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(207 230 241);
  --on-secondary-container: rgb(53 74 83);
  --tertiary: rgb(91 91 126);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(225 224 255);
  --on-tertiary-container: rgb(67 68 101);
  --error: rgb(186 26 26);
  --on-error: rgb(255 255 255);
  --error-container: rgb(255 218 214);
  --on-error-container: rgb(147 0 10);
  --background: rgb(245 250 253);
  --on-background: rgb(23 28 31);
  --surface: rgb(245 250 253);
  --on-surface: rgb(23 28 31);
  --surface-variant: rgb(220 228 232);
  --on-surface-variant: rgb(64 72 76);
  --outline: rgb(112 120 124);
  --outline-variant: rgb(191 200 204);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(44 49 52);
  --inverse-on-surface: rgb(237 241 244);
  --inverse-primary: rgb(136 208 236);
  --primary-fixed: rgb(184 234 255);
  --on-primary-fixed: rgb(0 31 40);
  --primary-fixed-dim: rgb(136 208 236);
  --on-primary-fixed-variant: rgb(0 77 97);
  --secondary-fixed: rgb(207 230 241);
  --on-secondary-fixed: rgb(7 30 38);
  --secondary-fixed-dim: rgb(179 202 213);
  --on-secondary-fixed-variant: rgb(53 74 83);
  --tertiary-fixed: rgb(225 224 255);
  --on-tertiary-fixed: rgb(23 24 55);
  --tertiary-fixed-dim: rgb(195 195 235);
  --on-tertiary-fixed-variant: rgb(67 68 101);
  --surface-dim: rgb(214 219 222);
  --surface-bright: rgb(245 250 253);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(240 244 247);
  --surface-container: rgb(234 238 242);
  --surface-container-high: rgb(228 233 236);
  --surface-container-highest: rgb(222 227 230);
}

[theme-color="Emerald"] {
  --primary: rgb(45 106 69);
  --surface-tint: rgb(45 106 69);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(176 241 194);
  --on-primary-container: rgb(15 81 47);
  --secondary: rgb(79 99 84);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(210 232 212);
  --on-secondary-container: rgb(56 75 61);
  --tertiary: rgb(59 100 112);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(190 234 247);
  --on-tertiary-container: rgb(33 76 87);
  --error: rgb(186 26 26);
  --on-error: rgb(255 255 255);
  --error-container: rgb(255 218 214);
  --on-error-container: rgb(147 0 10);
  --background: rgb(246 251 243);
  --on-background: rgb(24 29 25);
  --surface: rgb(246 251 243);
  --on-surface: rgb(24 29 25);
  --surface-variant: rgb(220 229 219);
  --on-surface-variant: rgb(65 73 66);
  --outline: rgb(113 121 113);
  --outline-variant: rgb(192 201 191);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(44 50 45);
  --inverse-on-surface: rgb(237 242 235);
  --inverse-primary: rgb(149 213 168);
  --primary-fixed: rgb(176 241 194);
  --on-primary-fixed: rgb(0 33 15);
  --primary-fixed-dim: rgb(149 213 168);
  --on-primary-fixed-variant: rgb(15 81 47);
  --secondary-fixed: rgb(210 232 212);
  --on-secondary-fixed: rgb(13 31 19);
  --secondary-fixed-dim: rgb(182 204 185);
  --on-secondary-fixed-variant: rgb(56 75 61);
  --tertiary-fixed: rgb(190 234 247);
  --on-tertiary-fixed: rgb(0 31 38);
  --tertiary-fixed-dim: rgb(163 205 218);
  --on-tertiary-fixed-variant: rgb(33 76 87);
  --surface-dim: rgb(214 219 212);
  --surface-bright: rgb(246 251 243);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(240 245 238);
  --surface-container: rgb(234 239 232);
  --surface-container-high: rgb(229 234 226);
  --surface-container-highest: rgb(223 228 221);
}

[theme-color="Ruby"] {
  --primary: rgb(144 75 63);
  --surface-tint: rgb(144 75 63);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(255 218 212);
  --on-primary-container: rgb(115 52 42);
  --secondary: rgb(119 86 81);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(255 218 212);
  --on-secondary-container: rgb(93 63 58);
  --tertiary: rgb(111 92 46);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(251 224 166);
  --on-tertiary-container: rgb(86 69 25);
  --error: rgb(186 26 26);
  --on-error: rgb(255 255 255);
  --error-container: rgb(255 218 214);
  --on-error-container: rgb(147 0 10);
  --background: rgb(255 248 246);
  --on-background: rgb(35 25 24);
  --surface: rgb(255 248 246);
  --on-surface: rgb(35 25 24);
  --surface-variant: rgb(245 221 217);
  --on-surface-variant: rgb(83 67 64);
  --outline: rgb(133 115 112);
  --outline-variant: rgb(216 194 190);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(57 46 44);
  --inverse-on-surface: rgb(255 237 234);
  --inverse-primary: rgb(255 180 167);
  --primary-fixed: rgb(255 218 212);
  --on-primary-fixed: rgb(58 9 4);
  --primary-fixed-dim: rgb(255 180 167);
  --on-primary-fixed-variant: rgb(115 52 42);
  --secondary-fixed: rgb(255 218 212);
  --on-secondary-fixed: rgb(44 21 17);
  --secondary-fixed-dim: rgb(231 189 182);
  --on-secondary-fixed-variant: rgb(93 63 58);
  --tertiary-fixed: rgb(251 224 166);
  --on-tertiary-fixed: rgb(37 26 0);
  --tertiary-fixed-dim: rgb(221 196 140);
  --on-tertiary-fixed-variant: rgb(86 69 25);
  --surface-dim: rgb(232 214 211);
  --surface-bright: rgb(255 248 246);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(255 240 238);
  --surface-container: rgb(252 234 231);
  --surface-container-high: rgb(247 228 225);
  --surface-container-highest: rgb(241 223 219);
}

[theme-color="Sapphire"] {
  --primary: rgb(71 93 146);
  --surface-tint: rgb(71 93 146);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(217 226 255);
  --on-primary-container: rgb(46 69 120);
  --secondary: rgb(87 94 113);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(220 226 249);
  --on-secondary-container: rgb(64 70 89);
  --tertiary: rgb(114 85 114);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(253 215 250);
  --on-tertiary-container: rgb(89 61 90);
  --error: rgb(186 26 26);
  --on-error: rgb(255 255 255);
  --error-container: rgb(255 218 214);
  --on-error-container: rgb(147 0 10);
  --background: rgb(250 248 255);
  --on-background: rgb(26 27 32);
  --surface: rgb(250 248 255);
  --on-surface: rgb(26 27 32);
  --surface-variant: rgb(225 226 236);
  --on-surface-variant: rgb(68 70 79);
  --outline: rgb(117 119 128);
  --outline-variant: rgb(197 198 208);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(47 48 54);
  --inverse-on-surface: rgb(241 240 247);
  --inverse-primary: rgb(176 198 255);
  --primary-fixed: rgb(217 226 255);
  --on-primary-fixed: rgb(0 25 69);
  --primary-fixed-dim: rgb(176 198 255);
  --on-primary-fixed-variant: rgb(46 69 120);
  --secondary-fixed: rgb(220 226 249);
  --on-secondary-fixed: rgb(20 27 44);
  --secondary-fixed-dim: rgb(192 198 220);
  --on-secondary-fixed-variant: rgb(64 70 89);
  --tertiary-fixed: rgb(253 215 250);
  --on-tertiary-fixed: rgb(42 19 44);
  --tertiary-fixed-dim: rgb(224 187 221);
  --on-tertiary-fixed-variant: rgb(89 61 90);
  --surface-dim: rgb(218 217 224);
  --surface-bright: rgb(250 248 255);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(244 243 250);
  --surface-container: rgb(238 237 244);
  --surface-container-high: rgb(232 231 239);
  --surface-container-highest: rgb(226 226 233);
}

[theme-color="Amethyst"] {
  --primary: rgb(110 82 138);
  --surface-tint: rgb(110 82 138);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(240 219 255);
  --on-primary-container: rgb(86 59 113);
  --secondary: rgb(102 90 111);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(237 221 246);
  --on-secondary-container: rgb(77 67 86);
  --tertiary: rgb(128 81 87);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(255 217 221);
  --on-tertiary-container: rgb(101 58 64);
  --error: rgb(186 26 26);
  --on-error: rgb(255 255 255);
  --error-container: rgb(255 218 214);
  --on-error-container: rgb(147 0 10);
  --background: rgb(255 247 254);
  --on-background: rgb(30 26 32);
  --surface: rgb(255 247 254);
  --on-surface: rgb(30 26 32);
  --surface-variant: rgb(233 223 235);
  --on-surface-variant: rgb(74 69 78);
  --outline: rgb(124 117 126);
  --outline-variant: rgb(204 196 206);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(51 47 53);
  --inverse-on-surface: rgb(246 238 246);
  --inverse-primary: rgb(219 185 249);
  --primary-fixed: rgb(240 219 255);
  --on-primary-fixed: rgb(40 13 66);
  --primary-fixed-dim: rgb(219 185 249);
  --on-primary-fixed-variant: rgb(86 59 113);
  --secondary-fixed: rgb(237 221 246);
  --on-secondary-fixed: rgb(33 24 41);
  --secondary-fixed-dim: rgb(208 193 218);
  --on-secondary-fixed-variant: rgb(77 67 86);
  --tertiary-fixed: rgb(255 217 221);
  --on-tertiary-fixed: rgb(50 16 22);
  --tertiary-fixed-dim: rgb(243 183 190);
  --on-tertiary-fixed-variant: rgb(101 58 64);
  --surface-dim: rgb(223 216 223);
  --surface-bright: rgb(255 247 254);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(249 241 249);
  --surface-container: rgb(244 235 243);
  --surface-container-high: rgb(238 230 238);
  --surface-container-highest: rgb(232 224 232);
}

[theme-color="Citrine"] {
  --primary: rgb(120 90 11);
  --surface-tint: rgb(120 90 11);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(255 223 160);
  --on-primary-container: rgb(92 67 0);
  --secondary: rgb(107 92 63);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(245 224 187);
  --on-secondary-container: rgb(83 69 42);
  --tertiary: rgb(74 101 70);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(204 235 196);
  --on-tertiary-container: rgb(51 77 48);
  --error: rgb(186 26 26);
  --on-error: rgb(255 255 255);
  --error-container: rgb(255 218 214);
  --on-error-container: rgb(147 0 10);
  --background: rgb(255 248 242);
  --on-background: rgb(31 27 19);
  --surface: rgb(255 248 242);
  --on-surface: rgb(31 27 19);
  --surface-variant: rgb(237 225 207);
  --on-surface-variant: rgb(77 70 57);
  --outline: rgb(127 118 103);
  --outline-variant: rgb(208 197 180);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(53 48 39);
  --inverse-on-surface: rgb(250 239 226);
  --inverse-primary: rgb(234 193 108);
  --primary-fixed: rgb(255 223 160);
  --on-primary-fixed: rgb(38 26 0);
  --primary-fixed-dim: rgb(234 193 108);
  --on-primary-fixed-variant: rgb(92 67 0);
  --secondary-fixed: rgb(245 224 187);
  --on-secondary-fixed: rgb(36 26 4);
  --secondary-fixed-dim: rgb(216 196 160);
  --on-secondary-fixed-variant: rgb(83 69 42);
  --tertiary-fixed: rgb(204 235 196);
  --on-tertiary-fixed: rgb(8 32 8);
  --tertiary-fixed-dim: rgb(177 207 169);
  --on-tertiary-fixed-variant: rgb(51 77 48);
  --surface-dim: rgb(226 217 204);
  --surface-bright: rgb(255 248 242);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(253 242 229);
  --surface-container: rgb(247 236 223);
  --surface-container-high: rgb(241 231 217);
  --surface-container-highest: rgb(235 225 212);
}

[theme-color="Morganite"] {
  --primary: rgb(136 75 107);
  --surface-tint: rgb(136 75 107);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(255 216 232);
  --on-primary-container: rgb(108 51 82);
  --secondary: rgb(114 87 99);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(253 217 231);
  --on-secondary-container: rgb(89 64 75);
  --tertiary: rgb(127 85 58);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(255 219 200);
  --on-tertiary-container: rgb(100 62 37);
  --error: rgb(186 26 26);
  --on-error: rgb(255 255 255);
  --error-container: rgb(255 218 214);
  --on-error-container: rgb(147 0 10);
  --background: rgb(255 248 248);
  --on-background: rgb(33 25 29);
  --surface: rgb(255 248 248);
  --on-surface: rgb(33 25 29);
  --surface-variant: rgb(241 222 228);
  --on-surface-variant: rgb(80 67 72);
  --outline: rgb(130 115 121);
  --outline-variant: rgb(212 194 200);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(55 46 49);
  --inverse-on-surface: rgb(252 237 241);
  --inverse-primary: rgb(253 176 213);
  --primary-fixed: rgb(255 216 232);
  --on-primary-fixed: rgb(56 7 37);
  --primary-fixed-dim: rgb(253 176 213);
  --on-primary-fixed-variant: rgb(108 51 82);
  --secondary-fixed: rgb(253 217 231);
  --on-secondary-fixed: rgb(41 21 31);
  --secondary-fixed-dim: rgb(224 189 203);
  --on-secondary-fixed-variant: rgb(89 64 75);
  --tertiary-fixed: rgb(255 219 200);
  --on-tertiary-fixed: rgb(49 20 1);
  --tertiary-fixed-dim: rgb(242 187 154);
  --on-tertiary-fixed-variant: rgb(100 62 37);
  --surface-dim: rgb(229 214 219);
  --surface-bright: rgb(255 248 248);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(255 240 244);
  --surface-container: rgb(249 234 238);
  --surface-container-high: rgb(243 228 233);
  --surface-container-highest: rgb(238 223 227);
}

[theme-color="Peridot"] {
  --primary: rgb(87 100 34);
  --surface-tint: rgb(87 100 34);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(218 234 152);
  --on-primary-container: rgb(63 76 10);
  --secondary: rgb(92 97 70);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(225 230 195);
  --on-secondary-container: rgb(68 73 48);
  --tertiary: rgb(58 102 93);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(189 236 224);
  --on-tertiary-container: rgb(33 78 70);
  --error: rgb(186 26 26);
  --on-error: rgb(255 255 255);
  --error-container: rgb(255 218 214);
  --on-error-container: rgb(147 0 10);
  --background: rgb(251 250 237);
  --on-background: rgb(27 28 21);
  --surface: rgb(251 250 237);
  --on-surface: rgb(27 28 21);
  --surface-variant: rgb(227 228 211);
  --on-surface-variant: rgb(70 72 60);
  --outline: rgb(119 120 106);
  --outline-variant: rgb(199 200 184);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(48 49 41);
  --inverse-on-surface: rgb(242 241 229);
  --inverse-primary: rgb(190 206 127);
  --primary-fixed: rgb(218 234 152);
  --on-primary-fixed: rgb(24 30 0);
  --primary-fixed-dim: rgb(190 206 127);
  --on-primary-fixed-variant: rgb(63 76 10);
  --secondary-fixed: rgb(225 230 195);
  --on-secondary-fixed: rgb(25 29 8);
  --secondary-fixed-dim: rgb(197 202 168);
  --on-secondary-fixed-variant: rgb(68 73 48);
  --tertiary-fixed: rgb(189 236 224);
  --on-tertiary-fixed: rgb(0 32 27);
  --tertiary-fixed-dim: rgb(161 208 196);
  --on-tertiary-fixed-variant: rgb(33 78 70);
  --surface-dim: rgb(219 219 206);
  --surface-bright: rgb(251 250 237);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(245 244 232);
  --surface-container: rgb(239 238 226);
  --surface-container-high: rgb(234 233 220);
  --surface-container-highest: rgb(228 227 215);
}

[theme-color="Turquoise"] {
  --primary: rgb(0 106 98);
  --surface-tint: rgb(0 106 98);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(157 242 230);
  --on-primary-container: rgb(0 80 73);
  --secondary: rgb(74 99 95);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(204 232 227);
  --on-secondary-container: rgb(50 75 72);
  --tertiary: rgb(70 97 122);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(205 229 255);
  --on-tertiary-container: rgb(46 73 97);
  --error: rgb(186 26 26);
  --on-error: rgb(255 255 255);
  --error-container: rgb(255 218 214);
  --on-error-container: rgb(147 0 10);
  --background: rgb(244 251 248);
  --on-background: rgb(22 29 28);
  --surface: rgb(244 251 248);
  --on-surface: rgb(22 29 28);
  --surface-variant: rgb(218 229 226);
  --on-surface-variant: rgb(63 73 71);
  --outline: rgb(111 121 119);
  --outline-variant: rgb(190 201 198);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(43 50 48);
  --inverse-on-surface: rgb(236 242 240);
  --inverse-primary: rgb(129 213 202);
  --primary-fixed: rgb(157 242 230);
  --on-primary-fixed: rgb(0 32 29);
  --primary-fixed-dim: rgb(129 213 202);
  --on-primary-fixed-variant: rgb(0 80 73);
  --secondary-fixed: rgb(204 232 227);
  --on-secondary-fixed: rgb(5 31 29);
  --secondary-fixed-dim: rgb(177 204 199);
  --on-secondary-fixed-variant: rgb(50 75 72);
  --tertiary-fixed: rgb(205 229 255);
  --on-tertiary-fixed: rgb(0 29 50);
  --tertiary-fixed-dim: rgb(174 201 230);
  --on-tertiary-fixed-variant: rgb(46 73 97);
  --surface-dim: rgb(213 219 217);
  --surface-bright: rgb(244 251 248);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(239 245 243);
  --surface-container: rgb(233 239 237);
  --surface-container-high: rgb(227 234 231);
  --surface-container-highest: rgb(221 228 226);
}
