.login {
  background-color: var(--primary-container);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 483px;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft, .loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginLogo {
  font-size: 50px;
  color: var(--on-primary-container);
  margin-left: -5px;
}

.loginDesc {
  color: var(--secondary);
  font-size: 24px;
}

.loginBox {
  padding: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow:
  0px 2px 4px rgba(0, 0, 0, 0.2),
  0px 3px 3px rgba(0, 0, 0, 0.14),
  0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

.loginMsg {
  font-size: 17px;
  align-self: center;
}

.registerInput {
  height: 32px;
  border-radius: 4px;
  border: 1px solid var(--outline);
  padding-left: 16px;
}

.loginInput:focus {
  outline: none;
}

@media (max-width: 1000px) {
  .loginWrapper {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2rem 0;
  }

  .loginLeft, .loginRight {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .loginBox {
    width: 80%;
    max-width: 400px;
    margin-top: 20px;
  }

  .loginLogo {
    margin-left: 0;
  }
}
